@import "@/style/_base";
.map-view{
    width: 100%;
}
.tabs {
  display: flex;
  height: 80rpx;
  justify-content: center;
  align-items: center;
  .tabs-item {
    flex: 1;
    font-size: 28rpx;
    color: #383838;
    text-align: center;
    position: relative;
    &.actived {
      &::after {
        content: " ";
        width: 56rpx;
        height: 4rpx;
        background-color: #069991;
        position: absolute;
        top: 44rpx;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.map-wrap{
    width:100%;
}
