@import 'base';

// 定义全局样式 下划线_标识 区分
.page_wrap{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 _rpx(20);
    background-color: $bg;
}

// flex
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// margin
.mt15{
    margin-top: _rpx(15);
}
.mt20{
    margin-top: _rpx(20);
}
.mt25{
    margin-top: _rpx(25);
}

.mb6{
    margin-bottom: _rpx(6);
}

.mb25{
    margin-bottom: _rpx(25);
}
